{% extends "base.html" %} {% block title %}players{% endblock %} {% block
content %}

<div class="row justify-content-center">
  {% for player in players %}
  <div class="col col-3">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{player.name}} {{player.team}}</li>
        <li class="list-group-item">Total Points: {{player.points}}</li>
        <li class="list-group-item">
          Field Goal %: {{ (player.field_goal_percent*100)|round(2) }}
        </li>
        <li class="list-group-item">
          Three point %: {{ (player.three_percent*100)|round(2) }}
        </li>
        <li class="list-group-item">Blocks: {{player.blocks}}</li>
        <li class="list-group-item">Assists: {{player.assists}}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

<!-- need to drop and create all -->
