{% extends "index.html" %}
{% block title %}profile{% endblock %}

{% block content %}

<h1 class="text-center display-2 my-4 text-bg-primary">{{user.first_name}}'s Lists</h1>

{% if user.lists %}
<div class="row g-3 justify-content-center">
  {% for list in lists %}
  <div class="col-md-auto">
    <div class="card text-bg-secondary" style="width: 18rem">
      <h5 class="card-title text-center mt-2">{{ list.name }}</h5>
      <ul class="list-group list-group-flush">
        {% for player in list.players %}
        <li class="list-group-item">{{ player.name }}</li>
        {% endfor %}
        <li class="list-group-item"><a href="/list/{{ list.id }}/delete">Delete</a></li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endblock %}