{% extends "base.html" %} 
{% block title %}profile{% endblock %} 

{% block content %}
<h1 class="text-center display-2">{{user.first_name}}'s Lists</h1>
{% if user.lists %}
<div class="row">
  {% for list in lists %}
  <div class="col-6">
    <div class="card" style="width: 18rem">
      <ul class="list-group list-group-flush">
        {% for player in list.players %}
        <li class="list-group-item">{{ player.name }}</li>
        {% endfor %}
        <li class="list-group-item"><a href="/list/{{ list.id }}/delete" method="DELETE">Delete</a></li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %} 
{% endblock %}
